[2020-12-17 03:20] ydmmocoo opened #2 "Cannot select pictures on Huawei P30 Pro using sample"
Android version：10

[2020-12-17 10:23] maned3v opened #3 "requestLegacyExternalStorage"
Hi there

I wanted to point out that the requestLegacyExternaStorage flag in the Manifest will be ignored when targhetting Android 11.

[https://developer.android.com/about/versions/11/privacy/storage](url)

[2020-12-21 14:00] uzairmughal3397 opened #4 "selecting image from gallery"
App crashes without any error when selecting image from gallery.

[2021-01-12 11:08] Verdant90 commented on #3
Any plans on removing this requirement?

[2021-01-28 09:26] mongkonsrisin opened #5 "How to open Stock Gallery App not a File / Document App ?"
I'm using this code

`ImagePicker.with(this)
	.galleryOnly()	//User can only select image from Gallery
	.start()	//Default Request Code is ImagePicker.REQUEST_CODE`

It opens File / Document App not a Gallery App ?

[2021-02-01 08:42] lingesh10 opened #6 "class file for kotlin.jvm.functions.Function2 not found"
**`Code Usage`**
[code]
[code]

**Build Error**
[code]

[2021-03-17 17:39] Drjacky commented on #5
Please check if you have the same issue on the [sample app](https://github.com/Drjacky/ImagePicker/tree/master/sample).
Also, what is the Android version?

[2021-03-17 17:47] Drjacky commented on #6
@lingesh10 Please try this:
[code]
And let me know if it helped.

[2021-03-18 11:22] Leeeeerich opened #7 "Change icon color"
Hey! How I can change icons color?

![image](https://user-images.githubusercontent.com/26391015/111618363-f527f400-87ec-11eb-8a9d-e1da0fd3d6d7.png)

[2021-03-23 08:26] tobiasKaminsky opened #8 "Jitpack requires different implementation syntax"
Thanks for your great library!

While trying to use it, I got an error:
[code]
This was with: `implementation 'com.github.Drjacky:ImagePicker:1.8.1' `

Changing it to `implementation 'com.github.drJacky:ImagePicker:1.8.1' ` as found on https://jitpack.io/#drJacky/ImagePicker/1.8.1 worked.

[2021-03-23 16:44] Kisty opened #9 "Add Intent Flags"
Thanks for this library. Have you any idea how to allow the returned `Uri` as a persistable URI? I think it requires putting a flag in the startActivity `Intent` but I see no way to add flags.

[code]

Log:
[code]

[2021-03-24 19:24] Drjacky commented on #8
@tobiasKaminsky Would you please try again with implementation 'com.github.Drjacky:ImagePicker:1.8.1'?
I could see the build here: https://jitpack.io/#Drjacky/ImagePicker/1.8.1

In the maven, it's the same:
https://mvnrepository.com/artifact/com.github.Drjacky/ImagePicker/1.8.1
https://search.maven.org/artifact/com.github.Drjacky/ImagePicker/1.8.1/aar

[2021-03-26 12:46] rahul-119966 opened #10 "Could not resolve all files for configuration ( Could not find com.github.yalantis:ucrop:2.2.6)"
Getting this while building the app (android version Lollipop)

[code]

[2021-03-26 13:37] Drjacky commented on #10
https://github.com/Drjacky/ImagePicker#usage -> 1.
[code]

[2021-03-26 13:57] rahul-119966 commented on #10
This is my module level gradle
`
// Top-level build file where you can add configuration options common to all sub-projects/modules.
buildscript {
    repositories {
        google()
        jcenter()
        maven { url "https://jitpack.io" }
    }
    dependencies {
        classpath "com.android.tools.build:gradle:4.1.3"

        // NOTE: Do not place your application dependencies here; they be

[2021-03-26 13:58] rahul-119966 commented on #10
using the latest version 1.8.1

  implementation 'com.github.Drjacky:ImagePicker:1.8.1'

[2021-03-26 14:21] Drjacky commented on #10
[code]

[2021-03-26 14:39] Drjacky commented on #8
I've tried with this `implementation 'com.github.drjacky:ImagePicker:1.8.1'` and it worked.
I'm gonna take a look into this later on.

[2021-03-26 14:40] Drjacky commented on #10
Also, be sure you have set it like: https://github.com/Drjacky/ImagePicker/issues/8#issuecomment-808271980

[2021-03-26 14:51] #10 closed

[2021-03-30 07:08] tobiasKaminsky commented on #8
implementation 'com.github.Drjacky:ImagePicker:1.8.1' // NOT working
implementation 'com.github.drjacky:ImagePicker:1.8.1' // works
implementation 'com.github.drJacky:ImagePicker:1.8.1' // works

gradle sync is not enough. It only fails when actually trying to build the app.

[2021-03-31 21:30] Drjacky commented on #8
@tobiasKaminsky The point is, I've removed `jcenter` from repository. It's only available on `mavenCentral` and `jitpack`.
And it seems the first attempt is with `mavenCentral`.

The `jitpack` is only necessary for the `uCrop` library, as I've mentioned here: https://github.com/Drjacky/ImagePicker#usage

So, better to fetch it from maven.

[2021-03-31 21:30] #8 closed

[2021-04-08 09:22] Leeeeerich opened #11 "Camera no work"
1. Camera no opening.
2. cropOval() no work.

Version: 1.8.1

[2021-04-08 15:41] Drjacky commented on #11
- What Android version?
- Do you have that issue on the sample app as well?

[2021-04-09 06:40] Leeeeerich commented on #11
1. I used an emulator, Android version 11. But 1.7.10 version camera is working.
2. Sorry, I don't understand the ask.

[2021-04-09 19:10] Drjacky commented on #11
@Leeeeerich Please try to install this sample app: https://github.com/Drjacky/ImagePicker/tree/master/sample
And check if you have the issue or not.

Apart from that, if you could put a breakpoint and check, it could help. To have more logcat added in this issue.

[2021-04-11 17:01] rahul-119966 opened #12 "[Help Wanted] How to write this code in java? I want to call this inside a fragment."
[code]

[2021-04-11 20:26] Drjacky commented on #12
Please read the Readme carefully.

Then use `registerForActivityResult`

[2021-04-11 20:26] #12 closed

[2021-04-12 14:00] oscarpeli opened #13 "Localization"
Hi
How can I localize words on the choose dialog?
<img width="257" alt="Schermata 2021-04-12 alle 15 58 49" src="https://user-images.githubusercontent.com/47815606/114406681-04aa1b00-9ba8-11eb-8974-6230e2754a5e.png">

Thanks

[2021-04-12 19:23] Drjacky commented on #13
Hi @oscarpeli
What language do you need to be supported?
I need to add.

Please translate these ones in your desire language:
https://github.com/Drjacky/ImagePicker/blob/master/imagepicker/src/main/res/values/strings.xml
+
[code]
And paste it here as a comment.

**Or**
Fork my project and translate by yourself and send the pull-request to me so, I can merge your change directly to the library.

[2021-04-13 09:26] oscarpeli commented on #13
I need Italian language.
Here is the translated file.
Thanks

[strings-it.txt](https://github.com/Drjacky/ImagePicker/files/6302642/strings-it.txt)

[2021-04-14 09:09] Leeeeerich commented on #13
Hey! And add, please Swedish.

[strings-sv.txt](https://github.com/Drjacky/ImagePicker/files/6309703/strings-sv.txt)

[2021-04-14 11:14] Drjacky commented on #13
@Leeeeerich Sorry it's late. I already released it.
Please create a new issue regards that.

@oscarpeli It's available on [v1.8.3](https://github.com/Drjacky/ImagePicker/releases/tag/1.8.3)

[2021-04-14 11:14] #13 closed

[2021-04-16 13:19] Drjacky commented on #13
@Leeeeerich Swedish translation is available on [v1.8.4](https://github.com/Drjacky/ImagePicker/releases/tag/1.8.4)

[2021-04-20 14:13] Leeeeerich commented on #11
Hey! Yes, android:requestLegacyExternalStorage="true" was be installed. When I compile project,

![untitled](https://user-images.githubusercontent.com/26391015/115410899-b4603800-a1fb-11eb-8bd0-bcd3edb19842.gif)

[2021-04-20 14:16] Leeeeerich opened #15 "No get 1.8.4"
I can't get version 1.8.4:

[code]

[2021-04-20 20:51] Drjacky commented on #15
@Leeeeerich
https://mvnrepository.com/artifact/com.github.Drjacky/ImagePicker/1.8.4
https://repo1.maven.org/maven2/com/github/Drjacky/ImagePicker/1.8.4/
https://jitpack.io/#DrJacky/ImagePicker/1.8.4

Please try `com.github.Drjacky:ImagePicker:1.8.4` and let me know if it works.

[2021-04-21 05:30] #15 closed

[2021-04-21 05:40] Leeeeerich commented on #7
Okay, I found a solution, you need to add colors:

[code]

And we can change translation if add strings:

[code]

[2021-04-21 05:40] #7 closed

[2021-04-24 17:46] Drjacky commented on #2
This issue was closed because it has been inactive.

Try the latest version. It has to work.

[2021-04-24 17:46] #2 closed

[2021-04-24 17:47] Drjacky commented on #4
This issue was closed because it has been inactive.

Please try the latest version from the release section. It has to work.

[2021-04-24 17:47] #4 closed

[2021-04-30 12:43] Drjacky commented on #11
@Leeeeerich Please try this and let me know if it works: [v2.0.4](https://github.com/Drjacky/ImagePicker/releases/tag/2.0.4)

[2021-04-30 12:44] Drjacky commented on #3
@maned3v & @Verdant90 @Leeeeerich Please try this version and let me know if it works: [v2.0.4](https://github.com/Drjacky/ImagePicker/releases/tag/2.0.4)

[2021-05-01 16:18] Drjacky commented on #3
@Verdant90 @maned3v
Please try the latest version: [v2.0.5](https://github.com/Drjacky/ImagePicker/releases/tag/2.0.5)

Now, the library works on API 19-30 without any problem.

[2021-05-01 16:18] #3 closed

[2021-05-01 16:18] Drjacky commented on #11
@Leeeeerich Please try the latest version: [v2.0.5](https://github.com/Drjacky/ImagePicker/releases/tag/2.0.5)

Now, the library works on API 19-30 without any problem.

[2021-05-01 16:18] #11 closed

[2021-05-03 06:26] vishalkumarsinghvi opened #17 "Can you resolve your copyright issue on fossa(I think gif and some url are same)"
I am attaching a screenshot or you can scroll in the end on your library
<img width="487" alt="Screenshot 2021-05-03 at 11 54 40 AM" src="https://user-images.githubusercontent.com/17532631/116846682-7a812f80-ac06-11eb-817a-92c85023089d.png">

[2021-05-03 12:26] Drjacky commented on #17
Fixed.

[2021-05-03 12:26] #17 closed

[2021-05-03 19:45] ArisChoice opened #18 "open failed: EACCES (Permission denied)"
open failed: EACCES (Permission denied)

Not able to select image from gallery

Device Android 10
 minSdkVersion 22
        targetSdkVersion 30

[2021-05-03 20:02] Drjacky commented on #18
@ArisChoice Thanks! Yes, I'm aware of the issue; It's related to the [uCrop](https://github.com/Yalantis/uCrop) library.
I'm working on this.

[2021-05-05 09:35] ioviov opened #19 "How to use on Java. Could you give some sample"
Hi! A lot of thanks for your job!

I used before https://github.com/Dhaval2404/ImagePicker , but Google send a letter "We've detected that your app contains the requestLegacyExternalStorage flag in the manifest file of 1 or more of your app bundles or APKs."

And I found your comments and your library, so...

My old code was:

[code]

Could you please help me to change my code. I can't find an exa

[2021-05-05 11:00] Drjacky commented on #19
https://github.com/Drjacky/ImagePicker/issues/12#issuecomment-817367508

+

https://developer.android.com/training/basics/intents/result#java

[2021-05-05 13:27] ioviov commented on #19
I'm sorry
I see errors in builder, as I understand in your library there are no thees methods, see attached files.

<img width="448" alt="Screenshot at May 05 16-21-45" src="https://user-images.githubusercontent.com/13030116/117148222-b3fc9b00-adbe-11eb-8d9d-a2420792749d.png">

<img width="457" alt="Screenshot at May 05 16-22-01" src="https://user-images.githubusercontent.com/13030116/117148277-c2

[2021-05-05 14:06] Drjacky commented on #19
You're right. I need to edit the Readme.
There is no need for `compress` method; It has been removed since it was comparing the size of the file and not the image, and the resize operation is enough to reduce the size of the final file.

Thanks for addressing this.

[2021-05-05 19:09] Drjacky commented on #19
@ioviov Instead of `start()`, use `createIntent()`

[2021-05-05 19:17] Drjacky commented on #18
@ArisChoice The issue on API 29 has been solved in [v2.1.6](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.6).

[2021-05-05 19:17] #18 closed

[2021-05-05 19:18] Drjacky commented on #5
@mongkonsrisin Please check it on [v2.1.6](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.6) and let me know if the issue has been fixed or not.

[2021-05-05 19:18] #5 closed

[2021-05-05 19:20] Drjacky commented on #6
The issue has been closed because it has been inactive for a while.

[2021-05-05 19:20] #6 closed

[2021-05-05 19:28] Drjacky commented on #11
@Leeeeerich Please try the latest version [v2.1.6](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.6) that has the fix regards issue on API 29.

[2021-05-05 19:31] Drjacky commented on #3
@maned3v @Verdant90 Please try the latest version [v2.1.6](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.6) that has the fix regards issue on API 29.

[2021-05-05 19:31] Drjacky commented on #4
@uzairmughal3397 Please try the latest version [v2.1.6](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.6) that has the fix regards issue on API 29.

[2021-05-05 19:31] Drjacky commented on #2
@yamin8000 Please try the latest version [v2.1.6](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.6) that has the fix regards issue on API 29.

[2021-05-06 08:52] Monsieur-Red opened #21 "Toast storage permission"
Your lib is working fine on all of my emulator API 24 to 30 on dev flavor.
But in production (PlayStore, device API 29) I get a toast with "Storage permission is needed to take a picture. Please allow storage permission from Settings -> Permissions.".
Am I missing something obvious ?
I copy your sample/manifest permissions :/
thx

[2021-05-06 08:58] ioviov commented on #19
@Drjacky  I tried using `createIntent()` on simulator and real phone, but it's not working, nothing appears.
Possibly in version 2.1.6 this fixed, I will try

Also in Readme you wrote `maxResultSize(1080, 1080)` but for java you should use `maxResultSize(1080, 1080, false)`

[2021-05-06 09:00] ioviov commented on #19
I tried use 2.1.6 but during Sync task I see error

<img width="1143" alt="Screenshot at May 06 11-57-07" src="https://user-images.githubusercontent.com/13030116/117271156-95e87680-ae62-11eb-8ca4-0fefb11c69a2.png">

[2021-05-06 09:54] Drjacky commented on #21
@Monsieur-Red Does it work on Release API 29 AND showing the toast?
Or
It doesn't work on Release API 29 at all.

[2021-05-06 10:03] Monsieur-Red commented on #21
I get the dialog chooser with "Camera" and "Gallery", I click on Camera/Gallery, the dialog dismiss and then the toast "Storage permission is needed to take a picture. Please allow storage permission from Settings -> Permissions.".

So no it doesn't work/take/pick my image from gallery/camera.

[2021-05-06 10:24] Monsieur-Red commented on #21
I replicate this behavior in dev by adding the following permission in the manifest with emulator API 29/30 :
`    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
`
:o

[2021-05-07 13:52] Drjacky commented on #21
@Monsieur-Red Please test [v2.1.7](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.7) and let me know if the issue solved or not.
I've tested Camera and Gallery -> on both -> Debug and Release modes -> API 21, 28, 29, 30

[2021-05-07 13:54] Drjacky commented on #19
@ioviov Please test [v2.1.7](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.7) and let me know if the issue solved or not.

[2021-05-07 17:41] Drjacky commented on #19
@ioviov Sorry, maven has an issue right now. It doesn't accept new uploads.
Right now, it's on JitPack: https://jitpack.io/#Drjacky/ImagePicker/2.1.7

[2021-05-07 17:52] ioviov commented on #19
It's ok
Sorry, I'm not guru on Java, so I need to wait? Or what I should to do right now?
Thanks!

[2021-05-07 18:00] ioviov commented on #19
Well I have the same

<img width="905" alt="Screenshot at May 07 20-57-58" src="https://user-images.githubusercontent.com/13030116/117490071-01bc0380-af77-11eb-8efd-6182cec1c80e.png">

And

<img width="826" alt="Screenshot at May 07 20-59-27" src="https://user-images.githubusercontent.com/13030116/117490165-2021ff00-af77-11eb-8179-c7bbdd3e1b00.png">

[2021-05-07 18:01] ioviov commented on #19
And

<img width="652" alt="Screenshot at May 07 21-00-53" src="https://user-images.githubusercontent.com/13030116/117490350-53fd2480-af77-11eb-9d0c-81a92bf122ed.png">

[2021-05-07 19:13] ioviov commented on #19
@Drjacky Well, it's ok
**Manifest merge failed** is fixed now, thanks!

But `createIntent()` still not working
When I tap on View nothing happens

[2021-05-07 19:50] Drjacky commented on #19
Could you create a sample project and attach it here?

[2021-05-07 19:52] ioviov commented on #19
Ok, I will do it on next week (I'll try on Monday), thanks

[2021-05-10 05:33] vishalkumarsinghvi commented on #21
Hey @Drjacky, I tested android 10,11 your application working fine just one question is there you removed READ_EXTENAL_STORAGE permission from manifest?
this permission is not necessary below 28

[2021-05-10 10:01] Drjacky commented on #21
@vishalkumarsinghvi
It is already defined in the Library: https://github.com/Drjacky/ImagePicker/blob/06afdf43ce89f2b928ed82a0efc5969ebb592655/imagepicker/src/main/AndroidManifest.xml#L4

[2021-05-11 07:30] CatalystMonish opened #22 "What permissions should be included in the mainifest file considering Android 11 support?"
I have added this
`<queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>`
Apart from it which permissions are necessary to declare for this library?
`    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission andro

[2021-05-11 10:49] Drjacky commented on #22
Please check the sample app:
https://github.com/Drjacky/ImagePicker/blob/06afdf43ce89f2b928ed82a0efc5969ebb592655/sample/src/main/kotlin/com.github.drjacky.imagepicker/sample/MainActivity.kt#L51-L59

https://github.com/Drjacky/ImagePicker/blob/06afdf43ce89f2b928ed82a0efc5969ebb592655/sample/src/main/kotlin/com.github.drjacky.imagepicker/sample/MainActivity.kt#L116-L124

[2021-05-11 13:02] Drjacky commented on #19
@ioviov
[SampleImagePicker-Solution.zip](https://github.com/Drjacky/ImagePicker/files/6459254/SampleImagePicker-Solution.zip)

You would need to define which one you want: `galleryOnly`, `cameraOnly`;
And if you want both, the `createIntent` changes to `createIntentFromDialog`.

P.S I've improved some other parts too. Good to check.

[2021-05-11 18:31] Drjacky commented on #19
[v2.1.8](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.8) released.

[2021-05-11 18:31] #19 closed

[2021-05-11 18:42] Drjacky commented on #9
May I know what do you want to do?

It's already here:
https://github.com/Drjacky/ImagePicker/blob/f1bde377e30506e6c2e6613efc0327b6f1c909b4/imagepicker/src/main/kotlin/com/github/drjacky/imagepicker/util/IntentUtils.kt#L37-L44

[2021-05-13 07:00] devyo12 opened #23 "Black background when cropping image"
When selecting transparent image/logo display black background in ImageView

[2021-05-13 07:46] rahat14 opened #24 "Failed to Compile with Java Project"
error msg _> More than one file was found with OS independent path 'META-INF/imagepicker_release.kotlin_module'

[2021-05-13 14:06] Drjacky commented on #24
Which version you're using? If [v2.1.8](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.8), please try [v2.1.7](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.7) which still use Kotlin 1.4.x.

Also, please try [this](https://stackoverflow.com/a/44767574/421467) solution and let me know if it works (whether with the latest version or one before that)

[2021-05-14 10:52] ASKabanets opened #25 "Getting Unable to decode stream: java.io.FileNotFoundException if crop is false"
Hi! Thanks for the library!

Checked sample app.
Getting `BitmapFactory: Unable to decode stream: java.io.FileNotFoundException: /document/image:197117: open failed: ENOENT (No such file or directory)` if don't add `crop()`

[code]

[2021-05-14 20:32] Drjacky commented on #25
@ASKabanets What library version you use and which Android API you tests on?
I've used [v2.1.8](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.8) on API 29 and API 30 and it works.

[2021-05-15 18:07] ASKabanets commented on #25
I've just downloaded this sample project, launched it on my OnePlus 5 (Android 10) and tried to get image from gallery or camera. It works great, but when crop is false I got FileNotFoundException.
Then I've created empty project (empty screen just with one button) and added ImagePicker as a dependency. Used the same piece of code as in the sample project - same: when crop is false it throws excep

[2021-05-15 19:11] Drjacky commented on #25
Could you attach your sample project here?

[2021-05-15 19:17] ASKabanets commented on #25
[https://drive.google.com/file/d/1TO5VLXkkVM_bUwk9qBR9co2Zk4ml8V3O/view?usp=sharing](url)

[2021-05-15 21:19] Drjacky commented on #25
@ASKabanets You're right. The error is in logcat but, the app works and you could easily use the `uri` and pass it to your Image Loader library.

I'll fix that false-positive exception. Thanks!

[2021-05-16 10:29] Drjacky commented on #23
I've tested and the black background is only in the crop step and the result after that has the transparency.
<img src="https://user-images.githubusercontent.com/2296754/118393951-a904fe80-b639-11eb-9de3-093b8bda33f2.png" width="300px" /> <img src="https://user-images.githubusercontent.com/2296754/118393948-a3a7b400-b639-11eb-815d-3d78dada3604.png" width="300px" />

[2021-05-16 10:29] #23 closed

[2021-05-16 18:52] ASKabanets commented on #25
It works (when crop is false) if you use `uri` to set an image. If you use file path it doesn't work ( `ImagePicker.getFilePath(activityResult.data)` )

[2021-05-16 19:43] Drjacky commented on #25
@ASKabanets Please use Uri. I'm gonna update the sample app and the Readme.

[2021-05-16 20:09] #25 closed

[2021-05-16 20:15] Drjacky commented on #9
Please try the latest version.

[2021-05-16 20:15] #9 closed

[2021-05-17 12:14] rahat14 commented on #24
Adding This didnot work . used v2.1.8 trying 2.1.7
packagingOptions {
    exclude 'META-INF/DEPENDENCIES'
}

[2021-05-17 14:16] Drjacky commented on #24
If none of them worked, you could create a sample app and attach it here so, I can check it.

[2021-06-09 10:37] devyo12 commented on #23
Hi i have check in my app it showing black only
can you send me code what step you are using

[2021-06-09 12:09] Drjacky commented on #23
@devyo12 Just run the sample app: https://github.com/Drjacky/ImagePicker/tree/master/sample

[2021-06-13 11:31] amankumar367 commented on #24
I was also facing similar type of issue

`META-INF/kotlin-stdlib.kotlin_module: Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.5.1, expected version is 1.1.16.`

I tried with [v2.1.7](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.7) and this working fine

[2021-06-13 12:15] Drjacky commented on #24
@amankumar367 Please create a sample project and attach it here; I'll check.
Thanks!

[2021-06-13 12:17] amankumar367 commented on #24
It works in the newly created sample project, but facing issue in my existing project.

[2021-06-13 12:22] Drjacky commented on #24
@rahat14 @amankumar367
You need to add whatever the gradle shows in the error logcat.
For you it'd be something like:
[code]

Also, let me know what Java and Kotltin versions you have set.
The library uses Kotlin 1.5.10 and Java 1.8

[2021-06-14 19:04] Poonam4789 opened #27 "Library with latest version2.1.11 is not working with OS 11"
After allowing storage permission , app crashes and in logs it comes access permission issue, though i already allowed permission.
it should redirect to settings to manage storage permission as per solutions suggested in developer.com and on stack overflow.
Please let me know how this can be fixed , if anything has to be added in manifest of anything

[2021-06-14 20:46] Drjacky commented on #27
I've checked the latest version ([v2.1.12](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.12)) and it worked on API 30 (Android 11).
Run the [sample app](https://github.com/Drjacky/ImagePicker/tree/master/sample) and let me know if it works or not.

[2021-06-15 20:10] Poonam4789 commented on #27
Hello Drjacky,

Thanks It worked :)

but want to highlight two issues:
1) Previously was using below mentioned code, to display dialog for both the options , but it was not working ,  created own dialog and called both intents separately then it worked.
ImagePicker.with(this)
       //...
       .createIntentFromDialog { launcher.launch(it) }

2) As in my project there is no requirement to crop im

[2021-06-16 06:53] petruscurtu opened #28 "Crashes on some Android 10 devices"
Hello,

I am using your library in a production application and have received some bug reports in my crashalytics dashboard.
It seems to affect certain devices running Android 10. I have tested locally with emulators and devices running Android 10 but could not reproduce the issue.

**Firebase logs**
[code]

**Smartphone (please complete the following information):**
All the logs are from devices

[2021-06-16 12:07] Drjacky commented on #27
@Poonam4789
1. Below code still works:
[code]
2. I've used below config and it worked without showing crop step:
[code]

[2021-06-16 14:58] Drjacky commented on #28
Could you create a bug ticket on android?
I'm using the `ImageDecoder` (for API above P) and `BitmapFactory` from `android.graphics.*` package.

[2021-06-29 12:20] mikemike396 opened #29 "Difference From Dhaval2404/ImagePicker"
I am curious how this library is different from https://github.com/Dhaval2404/ImagePicker?

Thanks!

[2021-06-29 13:23] #29 closed

[2021-06-29 13:25] mikemike396 commented on #29
Thanks for the explanation!

[2021-06-30 06:54] Drjacky commented on #29
@mikemike396
And two options that I forgot to mention:
- Mine supports oval crop
- Mine supports freestyle crop

[2021-08-05 13:59] microcian opened #30 "FileNotFoundException"
Hi,
I'm facing issue of FileNotFoundException if we use the code without crop(),

[2021-08-06 07:31] Drjacky commented on #30
https://github.com/Drjacky/ImagePicker/issues/25

[2021-08-06 07:31] #30 closed

[2021-08-14 14:38] dev-gvs opened #31 "Customize saving behavior for selected and cropped image"
**Is your feature request related to a problem? Please describe.**
I don't want to keep the selected image in the storage, only cropped one. And now, my only option is to manually delete it.

**Describe the solution you'd like**
Builder option, something like `.saveOnlyCroppedImg()`.

**Describe alternatives you've considered**
Return both image URIs for the activity result.

**Additional context*

[2021-08-17 05:21] HosseinKurd opened #32 "ImagePickerActivity does not launch"
I just tried as Readme notes
but **createIntentFromDialog** and **createIntent** not worked
and ImagePickerActivity not launched

[2021-08-17 06:49] Drjacky commented on #32
@HosseinKurd Would you please run the sample app and let me know if you have the issue again?

[2021-08-19 12:12] Drjacky commented on #31
@dev-gvs I'll try to work on this but, always feel free to create a PR and do the change/feature

[2021-08-24 18:43] vtxmg opened #33 "ucrop not found error"
**Describe the bug**
When I run app, this error found on log and stopped running further.

8: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':app:mergeDebugNativeLibs'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/github/yalantis/ucrop/2.2.7/ucrop-2.2.7.pom
       - https://repo.maven.apache.org/maven2/com

[2021-08-29 11:52] Drjacky commented on #33
Have you added this:
[code]

https://github.com/Drjacky/ImagePicker#usage

[2021-09-06 10:49] Gagandeep0312 opened #34 "Gallery text on Dialog option 'y' text seem cropped"
**Describe the bug**
Call createIntentFromDialog option , Camera and gallery option displayed. where Y of gallery text shows cropped from bottom.

**Expected behavior**
Both Camera and Gallery text should be clear visible without cropped text

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device:  RealMe

[2021-09-06 12:10] Drjacky commented on #34
I increased the font size but, couldn't reproduce the issue!
<img src="https://user-images.githubusercontent.com/2296754/132215520-0867164f-fde6-4c63-958d-83c0e19b50c5.png" width="300px" />

[2021-09-07 13:01] Gagandeep0312 commented on #34
Can you try it out with this specification. This is my phone screen,
2340-by-1080-pixel resolution at 402 ppi

[2021-09-07 14:27] Drjacky commented on #34
@Gagandeep0312 If you could create, export and attach it here, would be great.

[2021-09-09 08:57] Gagandeep0312 commented on #34
Hey @Drjacky I already added the screenshot of screen, what needs to attach more ?

[2021-09-09 08:58] Gagandeep0312 commented on #34
Can you share a build with me for the same. I will test check at my end.

[2021-09-09 10:02] Drjacky commented on #34
@Gagandeep0312 I meant the emulator config.
You create what you want in the AVD Manager, then export it and attach the zip here.

The sample app would work: https://github.com/Drjacky/ImagePicker/tree/master/sample

[2021-09-10 10:28] Gagandeep0312 commented on #34
Hi @Drjacky , Thank you for patience and communication. Finally I found the issue, its on me. Kindly close this issue.

[2021-09-10 10:28] #34 closed

[2021-09-11 03:40] shobhik opened #35 "Configure to use only front camera"
**Is your feature request related to a problem? Please describe.**
When starting with `cameraOnly()` I would like to be able to set ImagePicker to either A) only allow the front camera or B) start with the front camera and allow the user to switch to the rear camera.

**Describe the solution you'd like**
For either of the cases above, a config option similar to `cameraOnly` like `frontCameraOnly`

[2021-09-17 08:28] GuilhE opened #36 "[Question] - Android versions"
Hello @Drjacky , I hope this message finds you well.
Remember this [conversation](https://github.com/Dhaval2404/ImagePicker/pull/171)? Does your lib manages to solve this restrictions/findings?

Regards.

[2021-09-17 12:16] Drjacky commented on #36
Hi @GuilhE,
Yes, it is solved.
I continued your work and changed some classes and methods and now, it works.

[2021-09-17 12:16] #36 closed

[2021-09-17 12:51] GuilhE commented on #25
I've having the same problem with this setup:

[code]
I can have a path:
[code]
But:

[2021-09-17 15:18] GuilhE commented on #25
This is the path I get using my version: `/data/user/0/com.myapp/files/temp.JPEG` 🤔

[2021-09-17 15:20] Drjacky commented on #25
@GuilhE Using file path (`ImagePicker.getFilePath(activityResult.data)`) when the crop is false doesn't work (I'll fix it later) but, using `uri` works perfectly even if the crop is off:
->
`val uri = it.data?.data!!`

[2021-09-17 15:24] GuilhE commented on #25
I've used that, but I get exactly the same path 🤔

[2021-09-17 15:31] Drjacky commented on #25
@GuilhE No, not `.path`.
This:
[code]

[2021-09-17 16:17] GuilhE commented on #25
What's the `imgGallery.setLocalImage(uri)`? Ideally I've taken a photo and I want the path to upload it as `MultipartFormData`

[2021-09-17 18:17] GuilhE commented on #25
I've [changed](https://github.com/GuilhE/ImagePicker/commit/de00824ab665b041238a9d5b81a6a8b00c1422ee) my GalleryProvider to include your permissions logic, but maintaining all my previous logic. It's working now 👍🏼

[2021-09-24 16:10] karteekthati opened #37 "unable to pass result code"
**Describe the bug**
I had updated library to latest version 2.1.13
but unable to pass start() as per documentation for  request code
<img width="505" alt="nostart" src="https://user-images.githubusercontent.com/20656319/134706939-65ab7220-a2e8-413a-a65c-e77e0c293364.png">

[2021-09-24 18:44] Drjacky commented on #37
[code]

[2021-09-24 18:44] #37 closed

[2021-09-24 19:12] karteekthati commented on #37
Hi,

I want to pass custom request code as shown in your git page ex start()

And on activity result  validate as per request code.

I am having 3 images to be captured in a single page.

On Sat, 25 Sep 2021, 00:15 Hossein Abbasi, ***@***.***> wrote:

[2021-09-25 03:52] karteekthati opened #38 "Want to pass custom request request code as shown in git document"
Hi

what I am trying to do is in same page got 3 different images to capture,in latest version I am unable to pass request code in

   ImagePicker.Companion.with(this)
                        .crop()
                        .cropOval()
                        .maxResultSize(512, 512, true)
                        .createIntentFromDialog((Function1) (new Function1() {
                            pu

[2021-09-25 03:52] karteekthati commented on #38
.start()

this command is not available in new version

[2021-09-25 11:15] Drjacky commented on #37
Regards the `start()` In need to update the Readme. Thanks for pointing out.

And regards:

It's a feature request to choose multiple images; which is not supported yet.

[2021-09-25 16:21] rbhagwane123 opened #39 "Now able to add imagePicker"
![Screenshot 2021-09-25 215018](https://user-images.githubusercontent.com/84093647/134778480-b0dc4a75-3823-45d3-af83-41acfbcc56dc.png)

This error occurring on adding a jitpack.io on gradle sync. So Please help me to fix this

[2021-09-25 16:43] Drjacky commented on #39
Please add your `build.gradle`s; All of them.

[2021-10-06 16:20] Sagar0-0 opened #40 "Can't add allProjects{repositories{....}} dependency to build.gradle(project)"
<img width="634" alt="error" src="https://user-images.githubusercontent.com/85388413/136243259-0a51abb9-45b6-48ed-a7d6-9b759003c5aa.PNG">
 Its saying..  " Build was configured to prefer settings repositories over project repositories but repository 'MavenRepo' was added by build file 'build.gradle' "

[2021-10-06 16:34] #40 closed

[2021-10-11 16:02] shafayatb opened #41 "Pick Multiple Images?"
Hi, Is there an option to pick multiple images? Thanks.

[2021-10-14 10:33] Drjacky commented on #27
@ebaraiya Screenshot, please.

[2021-10-14 12:11] ebaraiya commented on #27
![Screenshot_1634213236](https://user-images.githubusercontent.com/62141907/137314692-38918e94-ed19-4013-a114-e80b345f936e.png)

[2021-10-14 12:39] ebaraiya commented on #27
Yes, I am using it.

[2021-10-20 16:52] fatemi2020 opened #42 "Canvas: trying to draw too large(256576512bytes) bitmap."
**Describe the bug**
 Canvas: trying to draw too large(256576512bytes) bitmap.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Take photo from camera'
2. set image mode as 64MP (or above if support)
3. Skip crop if enabled and Press "Done"
4. App will crash and See error in Logcat

**Smartphone (please complete the following information):**
 - Device: Samsung A71
 - OS: Android
 - Ver

[2021-10-21 09:38] #42 closed, assigned to Drjacky

[2021-10-21 12:05] fatemi2020 commented on #42
this link helped me to resolve issue.
The Picasso needs these tow functions:
`.resize(2048, 1600)`
`.onlyScaleDown() // the image will only be resized if it's bigger than 2048x 1600 pixels.`

[2021-10-22 11:11] rushilYiion opened #43 "How to open intent with different request code ?"
I need help regarding how to call intent with request code & get result from different request code

[2021-10-22 11:27] #43 closed, assigned to Drjacky

[2021-10-28 14:28] Umeshekh opened #44 "Not working well"
I have added the required repositories and dependency but still not working

[2021-11-05 15:39] harushiki opened #45 "Fail to resolve ucrop"
**Describe the bug**
Failed to resolve: com.github.yalantis:ucrop:2.2.7

**To Reproduce**
Steps to reproduce the behavior:
1. Added `maven { url "https://jitpack.io" }` under repositories
2. And `implementation 'com.github.Drjacky:ImagePicker:2.1.14'` under dependencies
3. Build
4. See error

**Expected behavior**
Should work just fine

**Screenshots**
![image](https://user-images.githubuserconten

[2021-11-05 15:45] harushiki commented on #45
In case of adding, `allprojects`
![image](https://user-images.githubusercontent.com/68916385/140538673-256a95a0-7865-4707-8bef-31cb30e88451.png)

[2021-11-05 15:49] harushiki commented on #45
Ah putting `maven { url "https://jitpack.io" }` under repositories in settings.gradle solved it

[2021-11-05 15:49] #45 closed

[2021-11-08 14:12] ArisChoice commented on #35
Update below function in   **IntentUtils**  this class:-
This is working for me

[code]

[2021-11-08 15:07] Drjacky commented on #35
@ArisChoice Could you please create a pull request and I'll check and if it works, I'll merge it to the codebase. Thanks!

[2021-11-09 14:10] Ziv-Gimani opened #46 "not work - both camera and gallery"
hi,
I try to allow access to both the camera and the gallery.
When I run the app it crashes
Would appreciate help.

i used with this code:
[code]

***
when i used with this code- only gallery was open and camera crashes:
[code]

Java language

[2021-11-09 14:52] Drjacky commented on #46
Please put the crash logcat to the question as well.

[2021-11-09 15:07] Ziv-Gimani commented on #46
![bug](https://user-images.githubusercontent.com/44395362/140949750-bceedaaa-93e0-48d0-9a1d-c3329299590d.png)

[2021-11-09 15:14] Drjacky commented on #46
Please download and open it in the Android Studio and compare it with yours; Probably you do not have the necessary imports.
https://github.com/Drjacky/ImagePicker/issues/19#issuecomment-838434841

[2021-11-09 15:41] Ziv-Gimani commented on #46
im really sorry to bother you, but i work step by step with your video on youTube, and everything was fine except the access to camera so i tried to add the code you wrote for both and import all but still not working.

i tried to check the camera access alone and my app still crushes.

[2021-11-09 16:16] Drjacky commented on #46
Please put the link to the video here.
Also, open the sample app I've mentioned above and take a screenshot of the whole screen including the errors.

[2021-11-09 16:55] Ziv-Gimani commented on #46
[link:](https://www.youtube.com/watch?v=kWeeWOlzEKM)

![image](https://user-images.githubusercontent.com/44395362/140968825-1a55587c-3558-48b5-9ac6-28b7cc7b43ac.png)

p.s.
the sample app get access only to gallery, and i dont have problem with this acess in my app.
i have struglle to get camera acess

[2021-11-10 15:41] Drjacky commented on #46
That youtube is not from mine. He's just using my library.

Replace `launcher` with `galleryLauncher` + and you're in Fragment. So, to be able to refer to Activity, you cannot use `this`(like 72).
Add `implementation 'androidx.fragment:fragment-ktx:1.3.6'` and use `requiredActivity`
Or
use `getActivity`

[2021-11-10 15:41] #46 closed

[2021-11-13 20:30] mjmuhamm opened #47 "won't compile on new project with same implementation as old project and directions - 'Could not find com.github.yalantis:ucrop:2.2.7'"
even when adding this dependency, it does not compile. here are screenshots.[](ur
<img width="442" alt="Screen Shot 2021-11-13 at 3 29 49 PM" src="https://user-images.githubusercontent.com/53790225/141658178-0b06f684-2ae3-4cc5-9b8d-2da4dbd44daf.png">
l
<img width="390" alt="Screen Shot 2021-11-13 at 3 30 09 PM" src="https://user-images.githubusercontent.com/53790225/141658182-df02fbba-717c-4a5c-a1

[2021-11-13 20:31] mjmuhamm commented on #47
taking crop() out of intent build does not work either

[2021-11-13 20:32] mjmuhamm commented on #47
<img width="488" alt="Screen Shot 2021-11-13 at 3 31 57 PM" src="https://user-images.githubusercontent.com/53790225/141658217-86e46915-cba7-416d-971b-f71f3601f70d.png">

[2021-11-13 20:52] mjmuhamm commented on #47
adding 'maven jitpack' to settings:gradle solved this issue. Thanks for the kotlin implementation btw

[2021-11-13 20:52] #47 closed

[2021-11-15 17:49] zelyasa commented on #44
Yes the same here, the implementation was case sensitive you responded here  `implementation 'com.github.Drjacky:ImagePicker:2.1.14'`  butin the wiki `implementation 'com.github.Drjacky:imagepicker:2.1'`
thank you and an other problem is that i get Failed to resolve: com.github.yalantis:ucrop:2.2.7 i think this is related to your lib

[2021-11-15 17:58] zelyasa opened #48 "Could not find com.github.yalantis:ucrop:2.2.7"
for the new version 2.1.17

[2021-11-16 08:41] Drjacky commented on #48
At this moment, the last version is [2.1.14](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.14).

Also, please take a look into this: https://github.com/Drjacky/ImagePicker/issues/47

[2021-11-16 08:41] #48 closed

[2021-11-16 11:50] Drjacky commented on #35
Thanks to @ArisChoice, https://github.com/Drjacky/ImagePicker/releases/tag/2.1.15

P.S Some devices still don't support defining front camera as default - Like OnePlus

[2021-11-16 11:50] #35 closed

[2021-11-17 17:24] ahamedibrahim2002 opened #49 "Uctop error can't build gradle"
Please help me am  working on camera, I am unable to build gradle constantly getting error in ucrop![build output.png](https://user-images.githubusercontent.com/81787066/142250707-90357b3c-e8c0-434c-b596-7fefa3e36534.png)![build gradle.png](https://user-images.githubusercontent.com/81787066/142250736-b5497656-859a-4ad5-b74d-f2d6f50a3914.png)![build gradle app 1.png](https://user-images.githubuserc

[2021-11-18 00:20] dinukapj opened #50 "Could not find com.github.yalantis:ucrop:2.2.7"
Getting a 'Not found' gradle error for ucrop on a kotlin project. Tried manually adding that to the gradle as well.

[code]

[2021-11-18 00:52] ahamedibrahim2002 commented on #50
S bro same for me I am still waiting

[2021-11-18 05:34] ahamedibrahim2002 commented on #50
Found just add  maven{url "https://jitpack.io" }
in settings.gradle below repositories{......}

[2021-11-18 08:43] Drjacky commented on #50
https://github.com/Drjacky/ImagePicker/issues/47

[2021-11-18 08:43] #50 closed

[2021-11-18 08:44] Drjacky commented on #49
https://github.com/Drjacky/ImagePicker/issues/47

[2021-11-18 08:44] #49 closed

[2021-11-18 10:21] fairEnough83 opened #51 "Define Picture Output Format (e.g. WebP)"
**Is your feature request related to a problem? Please describe.**
Currently you cannot define output format and the origin format is used. If you pick a jpg file and crop it you have to convert to webp on your own

**Describe the solution you'd like**
On the library level it would be easy to convert e.g.

FileOutputStream out = new FileOutputStream(path);
bitmap.compress(Bitmap.CompressFormat.WEB

[2021-11-18 10:24] fairEnough83 opened #52 "2.1.15 is not opening picker. 2.1.14 is working"
**Describe the bug**
Hard to say because I did not see anything in logcat. App has target api 31 as well. Invocation is within jetpack compose. Please give me further instructions to assist

**To Reproduce**
Steps to reproduce the behaviour:

ImagePicker.with(context as Activity)
                                        .maxResultSize(maxAvatarSize, maxAvatarSize)

[2021-11-18 10:49] Drjacky commented on #52
Could you add a sample project to the ticket?

[2021-11-20 09:13] MartinMbae commented on #52
Having similar challenge. Image picker is not opened. Nothing in the Logcat.
I am using

                ImagePicker.with(requireActivity())
                    .crop()
                    .cropFreeStyle()
                    .createIntentFromDialog { launcher.launch(it) }

[2021-11-20 09:55] Drjacky commented on #52
@MartinMbae Please attach a sample app. and on which Android version did you see this issue?

[2021-11-20 09:57] hafiz-amirali opened #53 "Gallery App is not opening while on gallery click it opens the document tree"
Hi,
When We click on the gallery icon in the dialog box it does not open the gallery app.  But open the document file to choose image.

[2021-11-20 10:08] #53 closed

[2021-11-20 19:48] Mihir3646 opened #54 "Does this support for choose video and capture video?"
The library is really well written also the documentation. I need to upload both image and video so.
Please provide the support for the video uploading from both gallery and camera. Not the compressed one for now, but better if it is also included.

Thank you.

[2021-11-21 06:48] shobhik commented on #35
@Drjacky would you recommend I copy those Intent extras to use this, or somehow try to set `tryFrontCamera` by intercepting the provider? Not sure what the ideal usage would be. Also thanks @ArisChoice for the update!

[2021-11-21 10:04] Drjacky commented on #35
@shobhik Pass `true` to `tryFrontCamera` parameter in `getCameraIntent`

[2021-11-21 14:30] Sanganak-Abhiyanta opened #55 "This repo does not work Properly"
FAILURE: Build completed with 8 failures.

1: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':app:checkDebugAarMetadata'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/github/yalantis/ucrop/2.2.6/ucrop-2.2.6.pom
       - https://repo.maven.apache.org/maven2/com/github/yalantis/ucrop/2.2.6/ucrop-2.2.6.pom

[2021-11-21 14:31] Sanganak-Abhiyanta commented on #55
Building fail please suggest what to do.

[2021-11-22 08:33] Drjacky commented on #55
https://github.com/Drjacky/ImagePicker/issues/47

[2021-11-22 08:33] #55 closed

[2021-11-23 06:17] mjini-dev opened #56 "[Help Wanted] Is there a way to get the exact extension of the file regardless of the storage?"
I'm using the library you provided well.
I am contacting you because there is a difficulty in using the library.

My service allows users to select whether to import only gif files or not except gif files, and then take image files from the gallery and send photo files and MIMETYPE to the server.

The problem here is that the name of the file comes differently depending on where the file is import

[2021-12-07 12:21] Mihir3646 commented on #54
Any luck for this?

[2021-12-08 08:24] nirmal700 opened #57 "Gradle Build Failed Could not find com.github.yalantis:ucrop:2.2.7."
**Describe the bug**
Execution failed for task ':app:checkDebugAarMetadata'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/github/yalantis/ucrop/2.2.7/ucrop-2.2.7.pom
       - https://repo.maven.apache.org/maven2/com/github/yalantis/ucrop/2.2.7/ucrop-2.2.7.pom
       - https://jcenter.bintray.com/com/github/yalantis/ucrop/2.2.7/ucrop-2.2.7.pom

[2021-12-08 08:36] Drjacky commented on #57
https://github.com/Drjacky/ImagePicker/issues/47

[2021-12-08 08:36] #57 closed

[2021-12-08 18:48] nirmal700 commented on #39
Add jitpack.io in Settings.gradle

[2021-12-08 18:50] nirmal700 commented on #24
You need to need Kotlin dependency to build.gradle
implementation "androidx.core:core-ktx:1.7.0"
implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:$kotlin_version
Then Sync the project your project should be okay 👍

[2021-12-09 14:43] Drjacky commented on #39
https://github.com/Drjacky/ImagePicker/issues/47

[2021-12-09 14:43] #39 closed

[2021-12-26 13:09] utills commented on #33
Getting same.....no luck so far....anyone any idea ?

[2022-01-01 17:58] Drjacky commented on #33
@utills Could you please try this solution and let me know if it helped:
https://github.com/Drjacky/ImagePicker/issues/45#issuecomment-962007033

[2022-01-15 15:37] anuragjksamanta92 opened #58 "cameraOnly(), galleryOnly(), provider(ImageProvider) no one working."
- Device: Samsung M series
 - OS: Android 10, 11

[2022-01-15 16:51] Drjacky commented on #58
Try to run the sample app from this repository and see if it works or not.
Also, add your code snippet.

[2022-01-18 09:57] Drjacky commented on #54
@Mihir3646 Sorry for the late reply.
Sorry but, there is no plan(yet) to add the video picking to this library.

[2022-01-18 09:57] #54 closed

[2022-01-19 10:57] Drjacky commented on #44
@Umeshekh Let me know if after adding the repo, it worked or not.

@zelyasa https://github.com/Drjacky/ImagePicker/issues/45#issuecomment-962007033

[2022-01-19 10:57] #44 closed

[2022-01-20 09:21] Sasikumars41 commented on #52
This will work. Important line for createIntentFromDialog  is  to add provider(ImageProvider.BOTH). Refer below
  ImagePicker.with(context)
                .crop()
                .cropSquare()
                .maxResultSize(320, 320, true)
                .galleryMimeTypes(arrayOf("image/png", "image/jpg", "image/jpeg"))
                **.provider(ImageProvider.BOTH)**
                .createInt

[2022-01-20 09:55] fairEnough83 commented on #52
I can confirm that this is fixing the issue

 .provider(ImageProvider.BOTH) ftw

Thank you

[2022-01-20 09:55] #52 closed

[2022-02-03 09:14] Skylernitin opened #59 "Could not find com.github.yalantis:ucrop:2.2.7."
* Could not find com.github.yalantis:ucrop:2.2.7.
* update yalantis dependency in your library

[2022-02-03 11:38] Drjacky commented on #59
It is 2.2.7: https://github.com/Drjacky/ImagePicker/blob/6e5b9abf7675c927eae306e31ba92a9d8de4844e/imagepicker/build.gradle#L52

Please take a look at this: https://github.com/Drjacky/ImagePicker/issues/47

[2022-02-03 11:38] #59 closed

[2022-02-09 10:44] enggazzar opened #60 "app crach"
when try to upload Image from uri  to server  app crach with this message
Permission Denial: opening provider com.android.providers.media.MediaDocumentsProvider from ProcessRecord
requires that you obtain access using ACTION_OPEN_DOCUMENT or related APIs

[2022-02-09 11:26] Drjacky commented on #60
You do not need `com.github.florent37:inline-activity-result-kotlin` anymore. Please run the sample app from this repo on the same device and let me know if the sample app worked or crashed.

[2022-02-11 10:37] nxtdesigns opened #62 "Can't build project"
Execution failed for task ':app:checkDebugAarMetadata'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/github/yalantis/ucrop/2.2.7/ucrop-2.2.7.pom
       - https://repo.maven.apache.org/maven2/com/github/yalantis/ucrop/2.2.7/ucrop-2.2.7.pom
       - https://jcenter.bintray.com/com/github/yalantis/ucrop/2.2.7/ucrop-2.2.7.pom

[2022-02-11 11:13] Drjacky commented on #62
Please take a look at this: https://github.com/Drjacky/ImagePicker/issues/47

[2022-02-11 11:13] #62 closed

[2022-03-02 12:23] mjmuhamm commented on #47
<img width="328" alt="Screen Shot 2022-03-02 at 7 22 49 AM" src="https://user-images.githubusercontent.com/53790225/156360935-f3e79e4e-b617-48e5-a5b0-fd4e3b96ead2.png">
<img width="344" alt="Screen Shot 2022-03-02 at 7 22 57 AM" src="https://user-images.githubusercontent.com/53790225/156360940-81c0f259-0e83-4e09-a2ec-224b712167d0.png">

[2022-03-02 12:27] mjmuhamm commented on #47
<img width="328" alt="Screen Shot 2022-03-02 at 7 22 49 AM" src="https://user-images.githubusercontent.com/53790225/156361589-618d9c03-6d16-422b-8377-6c0b52c5fa3c.png">
<img width="344" alt="Screen Shot 2022-03-02 at 7 22 57 AM" src="https://user-images.githubusercontent.com/53790225/156361593-f90c2e84-3b4c-4ad2-9f87-b4606c2e7054.png">

[2022-03-03 16:17] AleenaSheikh opened #63 "app crashes on Android 11 if i open camera"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-03-03 16:27] Drjacky commented on #63
Please add the crash logcat here.

[2022-03-05 10:04] pchauhan opened #64 "Showing black screen"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '..Camera'
2. Click on 'Take Picture'
3. When you come back on app
4. See error - Image won't show .

**Expected behavior**
Should show selected image.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the fo

[2022-03-05 11:09] Drjacky commented on #64
I didn't get it! What's the issue? I don't do anything with the camera options/features. It should be related to your device/OS. Try reset or other solutions suggested on internet.

[2022-03-05 11:09] #64 closed

[2022-04-07 05:10] rrsaikat commented on #41
Need multiple image selection feature!
Its 2022, still thinking to enhance this feature bro? @Drjacky

[2022-04-07 09:18] Drjacky commented on #41
@rrsaikat Feel free to add the feature and open a PR 🙏🏼

[2022-04-07 10:53] voghDev commented on #32
Hi man!

This code just worked in my Xiaomi Mi A3 plus my Nexus 5X emulator:
[code]
I hope it can be helpful for you too!

[2022-04-07 11:01] voghDev opened #65 "Quick question about Camera and Gallery mode"
Hello!

first of all, thanks for this awesome library, it's doing a great task.
I just want to ask a question about the documentation in the README file.
The example code provided is the following :point_down:
[code]
it states: **If you want both Camera and Gallery**

But in my case, the code  **directly uses the camera** instead of **allowing me to choose between camera and Gallery**. It is worki

[2022-04-07 11:04] voghDev commented on #65
A few more information and context in case it helps.

This code worked well allowing us to select a picture from Gallery in the mentioned devices:
[code]
where `pickImageLauncher` is:
[code]

[2022-04-07 11:29] #32 closed

[2022-04-08 14:45] Drjacky commented on #65
Where do you see this:
`pickImageLauncher.launch(`
?

What I see in the readme.md is:
[code]

[2022-04-13 14:33] voghDev commented on #65
:heavy_check_mark:  I finally solved my issue. I'll tell you how. Something really curious was happening :scream: :point_down:

I tried the code on the first comment because the sample code wasn't working for me. When I launched it, nothing was working. A dialog to choose between Camera and Gallery was supposed to appear, and it wasn't appearing :point_down:

[code]
After introspecting in the libr

[2022-04-13 14:33] #65 closed

[2022-04-16 05:28] chayanforyou opened #66 "ImagePicker dialog not showing in version 2.1.15"
I'm using library version v2.1.15
[code]
And my code is

[code]
Handling results
[code]
My ImagePicker dialog isn't showing. But if I downgrade the version to `2.1.14` its working fine.

[2022-04-18 00:35] rwadada opened #67 "Gallery Option does not List gallery app"
**Is your feature request related to a problem? Please describe.**
The gallery option lists all documents and displays recent images. However, the default Gallery and Google Photos applications are not displayed, so you may not be able to retrieve the images you need.

**Describe the solution you'd like**
I want to change the ACTION set in Intent below to ACTION_GET_CONTENT.
https://github.com/Drj

[2022-05-04 08:03] yogeshreddoorz commented on #66
I am also facing same issue  on 2.1.15, I just changed 2.1.15 to 2.1.14 its working.

[2022-05-16 11:56] ViacheslavSiz opened #68 "Caused by java.io.IOException No such file or directory"
Crash from crashlytics.
Happened on any version of Android from 8 to 12.
At least on Samsung and Xiaomi device.
Can not reproduce, only logs.

**Expected behavior**
No crashes while using library.

Deps:
 implementation "com.github.Drjacky:ImagePicker:2.1.15"

**Additional context**
Caused by java.io.IOException: No such file or directory
       at java.io.UnixFileSystem.createFileExclusively0(Uni

[2022-06-21 07:02] itzFaiz commented on #66
This will work. Important line for createIntentFromDialog is to add provider(ImageProvider.BOTH). Refer below

  ImagePicker.with(context)
                .crop()
                .cropSquare()
                .maxResultSize(320, 320, true)
                .galleryMimeTypes(arrayOf("image/png", "image/jpg", "image/jpeg"))
               .provider(ImageProvider.BOTH)
                .createIntentFro

[2022-06-21 07:04] itzFaiz commented on #66
This will work. Important line for createIntentFromDialog is to add provider(ImageProvider.BOTH). Refer below

`ImagePicker.with(context)
                .crop()
                .cropSquare()
                .maxResultSize(320, 320, true)
                .galleryMimeTypes(arrayOf("image/png", "image/jpg", "image/jpeg"))
               .provider(ImageProvider.BOTH)
                .createIntentFrom

[2022-06-21 07:21] itzFaiz commented on #66
This will work. Just add provider (ImageProvider.BOTH). Refer below

[code]

[2022-06-22 19:16] Drjacky commented on #65
It has been fixed on [2.1.16](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.16)

[2022-06-22 19:17] Drjacky commented on #67
It has been fixed on [2.1.16](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.16)

[2022-06-22 19:17] #67 closed

[2022-06-22 19:18] Drjacky commented on #68
It has been fixed on [2.1.16](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.16).
Please let me know if it didn't help and you still get the crash on those devices.

[2022-06-22 19:18] #66 closed

[2022-08-04 13:18] BKSoftCraft opened #69 "Event Listner on Dialog Dissmiss"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-20 10:33] GliTcH-5 commented on #41
is this Feature Available now ?
if No then is there any Work around to Multi-select Images ??

[2022-08-20 13:55] benjamin-luescher commented on #33
I solved this issue by:
1. Remove following block in `settings.gradle`
[code]
2. Adding `maven { url "https://jitpack.io" }` to build.gradle (Project)
[code]

[2022-08-23 09:22] #27 closed

[2022-08-23 12:28] #33 closed

[2022-08-23 15:56] Drjacky commented on #51
It's available on [2.3.17](https://github.com/Drjacky/ImagePicker/releases/tag/2.3.17)

[2022-08-23 15:56] #51 closed

[2022-08-23 15:57] Drjacky commented on #41
It's available on [2.3.17](https://github.com/Drjacky/ImagePicker/releases/tag/2.3.17)

[2022-08-23 15:57] #41 closed

[2022-08-23 15:59] Drjacky commented on #31
Please try [2.3.17](https://github.com/Drjacky/ImagePicker/releases/tag/2.3.17). I have tried to delete both of them.
Now you have the cropped one URI; Do whatever you want with that.

[2022-08-23 15:59] #31 closed

[2022-08-31 11:42] Husseinhj commented on #32
I have the same problem.

Snippet code:
[code]

here is my crash log:

[code]

[2022-08-31 11:48] Husseinhj opened #70 "setOutputFormat became mandatory in version 2.3.17"
**Describe the bug**
I tried to use it without calling the `setOutputFormat` method and got the following exception.

Here is my crash log:

[code]

[2022-09-01 12:29] #70 closed

[2022-09-01 12:41] Drjacky commented on #56
Please try `setOutputFormat` from [2.3.17](https://github.com/Drjacky/ImagePicker/releases/tag/2.3.17) and let me know if it helped in your case or not.

https://github.com/Drjacky/ImagePicker/issues/51

[2022-09-01 14:19] umair-khan97 opened #72 "Failed to resolve: com.github.yalantis:ucrop:2.2.8"
**Describe the bug**
Failed to resolve: com.github.yalantis:ucrop:2.2.8

**Screenshots**
<img width="844" alt="Screenshot 2022-09-01 at 7 18 11 PM" src="https://user-images.githubusercontent.com/53686765/187936961-1da9af01-7caf-4e3e-8ec4-8e18e29f6950.png">

[2022-09-02 05:04] #72 closed

[2022-09-05 09:06] Emefar commented on #70
Still happening same issue on **Pixel 2 API 29**

compileSdkVersion 32
buildToolsVersion "30.0.3"
targetSdkVersion 32
multiDexEnabled true

[2022-09-05 10:31] Drjacky commented on #69
It's available on [2.3.18](https://github.com/Drjacky/ImagePicker/releases/tag/2.3.18)

[2022-09-05 10:31] #69 closed

[2022-09-05 10:31] Drjacky commented on #70
It's available on [2.3.18](https://github.com/Drjacky/ImagePicker/releases/tag/2.3.18)

[2022-09-09 07:59] fairEnough83 opened #73 "Photo picker does not open with compile sdk 33 (Android 13)"
**Describe the bug**
App picker does not open with compile sdk 33 after permission handling
Tested with version 32 (Android 12) and it works

Sample code:

`
      val launcher =
            rememberLauncherForActivityResult(ActivityResultContracts.StartActivityForResult()) {
                if (it.resultCode == Activity.RESULT_OK) {
                    onAvatarChanged(it.data?.data!!)

[2022-09-09 08:59] Drjacky commented on #73
I tested and it worked just fine; Even without changing the `compileSdkVersion` and `targetsdkVersion` of the library to 32.

Please try the sample app of this repo, and let me know if you have any issue on 32 or not

[2022-09-09 09:31] fairEnough83 commented on #73
@Drjacky just one update - it did also work well with compile sdk 33 on an non android 13 device - but when switching to android 13 device it's not.

which device did you use for testing - Android 13? Thank in advance

[2022-09-09 09:48] Drjacky commented on #73
Yes, Pixel 4, Android 13

[2022-09-09 09:55] Drjacky commented on #73
Yes. please try the sample and let me know if it works or not.

[2022-09-19 20:27] astuetz commented on #73
@Drjacky @fairEnough83 is right, this requires a change for Android 13:
https://developer.android.com/about/versions/13/behavior-changes-13#granular-media-permissions

Seems like simply using `Manifest.permission.READ_MEDIA_IMAGES` for API level >= 33 inside `GalleryProvider.REQUIRED_PERMISSIONS` does the trick!

[2022-09-20 14:12] Drjacky commented on #73
It's fixed on [2.3.19](https://github.com/Drjacky/ImagePicker/releases/tag/2.3.19). Please test it and let me know if it didn't work.

[2022-09-20 16:30] astuetz commented on #73
Tried it on the sample app and it works fine, UNTIL I switch the dependency from the local module to the latest maven artifact:
[code]

By doing so, the sample app again tells me that the storage permission is required.

If I look at the downloaded apk sources (or try to look at `GalleryProvider` inside AS), I can see the latest changes including `READ_MEDIA_IMAGES`.
But as soon as I decompile the

[2022-09-21 05:50] BKSoftCraft opened #74 "Option to give customized name to saved photo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-26 11:01] astuetz commented on #73
@Drjacky do you have any updates on this or is there any way I could help?
In the meantime, maybe you can re-open the issue, since it's not actually fixed
Thanks!

[2022-09-26 11:31] Drjacky commented on #73
Thanks @astuetz! sure, the help would be to find the root of issue you've mentioned [here](https://github.com/Drjacky/ImagePicker/issues/73#issuecomment-1252604839)
I don't have much time this week to look at it, any help is appreciated.

[2022-09-27 09:10] lhzlg3368 opened #75 "[ bug ] Expect to optimize more UI details to provide better user experience"
**Describe the bug**
Hi, first of all, I would like to thank the author for the library, which has saved me a lot of time in development.

When I use this library, I expect the colors of the library to be consistent with the theme color of the application so that the user experience is better.
However, the problems in the screenshot are.
1. the status bar part, after setting it to white, the icon

[2022-09-27 09:25] Drjacky commented on #75
For crop part, I use [uCrop](https://github.com/Yalantis/uCrop). It seems you can customize the style for its `UCropActivity` like this:
[code]

Hope it helps. For further needs on this, you could open an issue on that repository.

[2022-09-27 09:25] #75 closed

[2022-09-28 09:34] astuetz commented on #73
@Drjacky I opened a PR [here](https://github.com/Drjacky/ImagePicker/pull/76), which bumps AGP and Gradle versions and also fixes ktlint errors.
Running `./gradlew :imagepicker:build` now works fine for me.
Would be great if you'd have some time to try it yourself and see if publishing works properly. Thanks!

[2022-09-28 18:50] Drjacky commented on #73
@astuetz Could you let me know what are the versions?
- Android Studio
- echo $JAVA_HOME
- Preferences -> Build -> Gradle -> JDK

I still get this:
`gradle build`

[2022-09-28 20:06] Drjacky commented on #73
@astuetz Also, could you try this [2.3.20](https://github.com/Drjacky/ImagePicker/releases/tag/2.3.20)? But not from jitpack. from maven.
Cause now I get a new error in jitpack log now: https://jitpack.io/com/github/Drjacky/ImagePicker/2.3.20/build.log

[2022-09-28 20:26] astuetz commented on #73
Hey, I can confirm that 2.3.20 works fine now!
I guess my PR is no longer needed then, so I'll delete it.

[2022-09-29 07:58] Drjacky commented on #73
Fixed on [2.3.20](https://github.com/Drjacky/ImagePicker/releases/tag/2.3.20).

[2022-09-29 07:58] #73 closed

[2022-10-20 06:57] arcelluceno11 opened #77 "Error when using galleryOnly and uploading to database"
java.lang.SecurityException: Permission Denial: opening provider com.android.providers.media.MediaDocumentsProvider from ProcessRecord{7df89b7 8444:com.capstone.sharity/u0a85} (pid=8444, uid=10085) requires that you obtain access using ACTION_OPEN_DOCUMENT or related APIs

[2022-10-20 15:26] Drjacky commented on #77
What version you're using?

[2022-10-21 06:33] erizoo opened #78 "open failed: ENOENT (No such file or directory)"
Hi, I try save result uri to file, that upload to server, but i get this error to upload    "open failed: ENOENT (No such file or directory)"

[2022-10-21 08:24] arcelluceno11 commented on #77
2.3.20

[2022-10-21 09:17] arcelluceno11 commented on #77
Device is Xiaomi Poco F4 and Api Version 32

On sample app its' working but I haven't tested it on uploading the uri to a database.

[2022-10-21 09:20] Drjacky commented on #78
Can you add your code snippet?

Also, when you use the URI to display the image locally, does it work correctly?

[2022-10-21 12:37] arcelluceno11 commented on #77
I currently writing the project on MVVM approach. This is the snippet.

MutableLiveData<Uri> paymentProof = new MutableLiveData<>();
Firebase.getStorage()
                    .getReferenceFromUrl("gs://sh*******ot.com/Pu***/")
                    .child(paymentProof.getValue().getLastPathSegment())
                    .putFile(paymentProof.getValue());

Displaying the received uri in an ImageView

[2022-10-21 17:34] Drjacky commented on #77
Can you try adding this code snippet before using the URI:
[code]

And please let me know if it solved the issue or not

[2022-10-22 01:42] arcelluceno11 commented on #77
I'm getting a new error

No persistable permission grants found for UID 10085 and Uri content://com.android.providers.media.documents/document/image:95

[2022-10-22 02:42] arcelluceno11 commented on #77
Update:

I revert the code to its default. galleryOnly() only works if I add .crop() to it same with .bothCameraGallery(). If not, the error persist and I think that's the problem. The problem only persist using gallery.

I hope in the later updates this problem will be fix. Thanks for helping me by the way.

[2022-10-22 07:28] Drjacky commented on #77
My bad, that `takePersistableUriPermission` is only for `ACTION_OPEN_DOCUMENT` and other actions in the Storage Access Framework, not for `ACTION_GET_CONTENT`

[2022-10-22 08:34] Drjacky commented on #77
Please create a sample app that reproduce the issue. @arcelluceno11

[2022-10-30 08:42] nishkul commented on #78
even for me issue is the same
 var file = File(userProfileUrl.toString())
            val reqFile = file.asRequestBody("application/image".toMediaTypeOrNull())
            val imageBody = MultipartBody.Part.createFormData("image", file.name,reqFile)

[2022-10-30 11:44] Drjacky commented on #77
It's not related to the library but I'll improve the sample app.
You just need to add:
[code]

https://developer.android.com/training/data-storage/shared/photopicker#persist-media-file-access

_____

Please re-open the issue if it didn't help in your case.

[2022-10-30 12:39] Drjacky commented on #77
# In case you don't use Crop option, you need just need to add:
[code]

https://developer.android.com/training/data-storage/shared/photopicker#persist-media-file-access
________
I'll change `ACTION_GET_CONTENT` to `ACTION_OPEN_DOCUMENT` on the next update.
[And if I could find a way to have both worlds(having crop and let developer use or not use `takePersistableUriPermission`, I'll update again.]

[2022-10-30 21:39] shashankholla opened #80 "registerForActivityResult not called when multiple setMultipleAllowed is true"
[code]

When I select multiple images and press SELECT in the photo picker, nothing happens. My breakpoint in "  if(result.getResultCode()==RESULT_OK){" is not being hit.

[2022-10-31 11:17] Drjacky commented on #80
Could you please attach a sample project in Java, to reproduce the issue?

[2022-11-02 07:58] devbox-android-dev1 opened #81 "Support for localization"
**Is your feature request related to a problem? Please describe.**
Is there a way to add localization to the popup, I used this library for english language, now i need to develop this in arabic language.

[2022-11-03 09:53] Drjacky commented on #81
We do support Arabic! https://github.com/Drjacky/ImagePicker/blob/master/imagepicker/src/main/res/values-ar/strings.xml

What do you see when the dialogue is prompted?

[2022-11-03 10:05] devbox-android-dev1 commented on #81
![Screenshot_20221103_153059](https://user-images.githubusercontent.com/107170232/199693498-5915efb9-976d-47af-a4f7-388fc4060292.png)

Seeing english content only.

[2022-11-03 11:07] Drjacky commented on #81
And what library version do you use?

[2022-11-03 11:37] devbox-android-dev1 commented on #81
Updated to the latest version, localization works fine. Thanks!!

[2022-11-03 11:37] #81 closed

[2022-11-10 13:01] ibrahim-sdsol opened #82 "NO method for limiting multiple images."
There should be a method for maximum selection limit.

[2022-11-12 13:18] devsarathsvs opened #83 "Gallery Picker is not opening"
`    binding.clickImportFromgallery.setOnClickListener {
            ImagePicker.with(this)
                .provider(ImageProvider.GALLERY) //Or bothCameraGallery()
                .createIntentFromDialog {
                    launcher.launch(it)
                }
        }`

when i use ImageProvider.BOTH its working fine, it gives me two options to select from both camera and gallery is working,

[2022-11-13 16:45] Drjacky commented on #83
Have you check the sample app?
`createIntentFromDialog` is only for both inputs. for only one of them, you need to use `.createIntent()`

https://github.com/Drjacky/ImagePicker/blob/5858eb2bc44462f439841aa42adce5f8c4165c94/sample/src/main/kotlin/com.github.drjacky.imagepicker/sample/MainActivity.kt#L45-L65

https://github.com/Drjacky/ImagePicker/blob/5858eb2bc44462f439841aa42adce5f8c4165c94/sample

[2022-11-13 16:45] #83 closed

[2022-11-17 14:57] AbdullahJaved-dev opened #84 "Localization is not working completely"
Localization is not working on Crop Activity for Spanish.

<img src="https://user-images.githubusercontent.com/66158133/202479669-574fcda5-099d-41a6-8abb-0244d3c7b25a.jpg" width="300px" />
<img src="https://user-images.githubusercontent.com/66158133/202479838-5644c27f-cc74-4913-a376-049e519c5a81.jpg" width="300px" />

 - Device: Xiaomi Poco X3
 - OS: Android 11

[2022-11-17 15:43] Drjacky commented on #84
https://github.com/Drjacky/ImagePicker/issues/13#issuecomment-818072121

[2022-11-17 15:43] #84 closed

[2022-11-27 04:24] malayariau opened #85 "how to use image picker on fragment"
hello i am implement this code to pick image from camera or gallery

`btn_pilih_ktp.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                ImagePicker.with(getActivity())
                        .crop()
                        // .cropSquare()
                        .maxResultSize(1048, 1048, true)
                        .c

[2022-11-28 21:12] Drjacky commented on #85
Please attach a sample project (includes your attempt)